<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9KGZvrs9StNc6-nS-UAcVtW10U8uBce0</string>
	<key>GCM_SENDER_ID</key>
	<string>586976696503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ToDoList.com</string>
	<key>PROJECT_ID</key>
	<string>todolist-50fbf</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-50fbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586976696503:ios:e4c6508e2aefded609d532</string>
</dict>
</plist>